<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h1>Add book</h1>
<body>
	<div>
	<form th:object="${book}" th:action="@{save}" action="#" method="post">
		<label for="title">Title</label>
		<input type="text" id="title" th:field="*{title}" />
		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
		
		<label for="author">Author</label>
		<input type="text" id="author" th:field="*{author}" />
		<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
		
		<label for="publicationYear">Publication Year</label>
		<input type="text" th:field="*{publicationYear}" />
		<div th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Error</div>
		
		<label for="isbn">ISBN</label>
		<input type="text" th:field="*{isbn}" />
		<div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</div>
		
		<label for="price">Price</label>
		<input type="text" th:field="*{price}" />
		<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
		
		<label for="deplist">Category</label>
			 <select id="deplist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Save"></input>
	</form>
	</div>		
</body>
</html>
	