<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
	<table>
	<div>Signed in: <span sec:authentication="name"></span> <form th:action="@{/logout}" method="post"></div>
	<tr>
	<th>Title</th>
	<th>Author</th>
	<th>ISBN</th>
	<th>Year</th>
	<th>Category</th>
	</tr>
	<tr th:each = "book : ${books}">
	<td th:text="${book.title} + ' ' + ${book.author}"></td>
	<td th:text="${book.isbn}"></td>
	<td th:text="${book.publicationYear}"></td>
	<td th:text="${book?.category?.name} ?: ''"></td>
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
	</td> 
	</tr>
	</table>
</body>
</html>
